<form *ngIf="!user">
  <input [(ngModel)]="username" name="user" value="Admin" required />
  <input [(ngModel)]="password" name="password" value="123456" required />
  <button (click)="send()">LOGIN</button>
</form>
<div *ngIf="user">Hola {{ user.user }}!</div>
